[mysqld]
default_authentication_plugin= mysql_native_password

# these configs are mandatory, Don't change them.
# able to add other configs at the end of this file.
bind-address = 0.0.0.0
log-bin         = master2-bin
binlog_format   = mixed
server-id       = 2