version: 2
jobs:
  build:
    docker: # See https://docs.docker.com/get-started/#docker-concepts if you are new to Docker.
      - image: circleci/python:3.6.1
    steps:
      - checkout
      - run: echo "A first hello"
